<ol>
  <li>
    <%= link_to 'Render partial from simple HTMP page', from_html_path %>
  </li>
  <li>
    <%= link_to 'Render partial from View Component (issue)', from_view_component_path %>
  </li>
</ol>